/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
:root {
  --green-color: #00de66;
  --column-width-multiplier: 8.333;
}
h1 {
  font-size: 46px
}
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/