.order-form-product-page {
    position: relative;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    left: 20%;
    top: 0;
    right: 0;
    position: fixed;
    max-width: 90%;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
    padding: 56px 96px;
    height: 100vh;
    overflow: auto;
}
.order-form-product-page.active {
    visibility: visible;
    opacity: 1;
}