<!--
  templateType: global_partial
  label: Global header
-->
<style>
.page-header-product-page {
    background-color: {{theme.global_colors.primary_color.color}};
}
</style>

{% module "translations_global" path="/isobar-eservice-theme/modules/translations-global", l=, export_to_template_context=True %}
{% module "global_form_options" path="/isobar-eservice-theme/modules/global/global-form-options", label="global-form-options", export_to_template_context=True %}
{% module "top_banner" path="/isobar-eservice-theme/modules/global/top-banner", label="top-banner"%}
<header class="page-header js-page-header page-header-product-page">
    <div class="wrapper page-header__wrapper">
        <div class="page-header__container">
            {% set lang = ('' ~ content.language)|lower %}
            <a {% if lang and (lang !='pl') %}href="/{{lang}}/"{% else %}href="/"{% endif %} class="page-header__logo page-header__logo--primary">
                <img src="{{get_asset_url('../../images/logos/eservice-white.png')}}" class="page-header__logo-img" alt="Logo eService"/>
            </a>
            <button class="page-header__toggle is-mobile js-menu-switcher"></button>
        </div>
        <div class="page-header__navigation">
            <div class="page-header__menu">
                {% module "module_17169005290282" path="/isobar-eservice-theme-child/modules/menu-section-product-page", label="menu-section-product-page" %}
            </div>
        </div>
        <div class="page-header__tools is-desktop">
            <div class="page-header__tool page-header__tool--first">
            {% global_partial path='./header-partials/font-switcher.html' %}
            </div>
            {% if content.translated_content|length || group.translations %}
            <div class="page-header__tool">
                {% global_partial path='./header-partials/lang-switcher.html' %}
            </div>
            {% endif %}
            <div class="page-header__tool">
                {% include path='./header-partials/search.html' %}
            </div>
        </div>
    </div>
</header>
{% module 'iso-alert' path='../../modules/iso-alert', label='Alert Module' %}
