{{ menu(module.primary_menu_field) }}

{% macro link(node) %}
<li>
    <a href="{{ node.label|unescape_html }}" class="e-menu__link" >
        {{ node.label }}
        {% if node.children %}
        <button type="button" class="e-menu__toggle">
            <svg class="e-menu__toggle-svg" xmlns="http://www.w3.org/2000/svg" width="8.121" height="4.811" viewBox="0 0 8.121 4.811">
                <path class="e-menu__toggle-svg-path" d="M1323.309,16.5l3,3,3-3" transform="translate(-1322.248 -15.439)"/>
            </svg>
        </button>
        {% endif %}
    </a>
    {% if node.children %}
    {{ renderNavigation(node) }}
    {% endif %}
</li>
{% endmacro %}

{% macro renderNavigation(menuTree) %}
<ul class="e-menu">
    {% for node in menuTree.children %}
    {{ link(node) }}
    {% endfor %}
</ul>
{% endmacro %}

<nav class="e-menu">
    {{ renderNavigation(menu(module.menu_field)) }}
</nav>